/* =========================
   FOOTER SECTION
========================= */

.footer-section{

    background:#F4F0E6;

    padding-top:40px;

    padding-bottom:35px;

    border-top:
    1px solid rgba(0,0,0,0.05);
}

/* =========================
   FOOTER
========================= */

.custom-footer{

    width:100%;
}

/* Wrapper */

.footer-wrapper{

    padding-left:90px;

    padding-right:90px;
}

/* =========================
   FOOTER TOP
========================= */

.footer-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding-bottom:30px;

    /* border-bottom:
    1px solid rgba(0,0,0,0.08); */
}

/* =========================
   FOOTER MENU
========================= */

.footer-menu{

    display:flex;

    gap:35px;
}

.footer-menu a{

    text-decoration:none;

    color:#111;

    font-size:15px;

    font-weight:600;

    letter-spacing:0.5px;

    transition:0.3s ease;
}

.footer-menu a:hover{

    color:#F75C2F;
}

/* =========================
   SOCIAL
========================= */

.footer-social{

    display:flex;

    gap:14px;
}

.footer-social a{

    width:42px;

    height:42px;

    background:#111;

    color:#fff;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:16px;

    text-decoration:none;

    transition:0.3s ease;
}

.footer-social a:hover{

    background:#F75C2F;

    transform:translateY(-3px);
}

/* =========================
   SPONSOR
========================= */

.footer-sponsor{

    text-align:center;

    padding-top:45px;
}

.footer-sponsor p{

    font-size:13px;

    font-weight:700;

    letter-spacing:1px;

    color:#555;

    margin-bottom:12px;
}

.footer-sponsor h1{

    font-size:40px;

    line-height:1.05;

    font-weight:800;

    color:#0D1633;

    margin:0;
}

/* =========================
   COPYRIGHT
========================= */

.footer-copy{

    text-align:center;

    margin-top:35px;

    font-size:13px;

    font-weight:600;

    color:#666;

    letter-spacing:0.4px;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:768px){

    .footer-wrapper{

        padding-left:25px;

        padding-right:25px;
    }

    .footer-top{

        flex-direction:column;

        align-items:flex-start;

        gap:25px;
    }

    .footer-menu{

        flex-direction:column;

        gap:14px;
    }

    .footer-sponsor{

        padding-top:35px;
    }

    .footer-sponsor h1{

        font-size:32px;
    }

}