.custom-navbar{

    background:#F4F0E6;

    padding:7px 0;

    position:fixed;

    top:0;
    left:0;

    width:100%;

    z-index:999;

    border-bottom:
        2px solid rgba(0,0,0,0.09);
}

.custom-navbar .container{

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.navbar-collapse{

    justify-content:flex-end;
}

.navbar-nav{

    display:flex;

    align-items:center;

    gap:25px;

    list-style:none;
}

.nav-link{

    text-decoration:none;

    font-weight:600;

    color:#149C93 !important;
}

.logo-text{

    font-size:38px;

    font-weight:700;

    color:#F75C2F !important;

    text-decoration:none;
}

.nav-link{
    color:#0f8f9d;
    font-weight:600;
    transition:.3s;
}

.active-link{
    color:#ff6b1a !important;
    /* border-bottom:3px solid #ff6b1a;  */
}